.blocks {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px
}

.block {
  height: 350px;
  width: 350px; 
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
